SimpleShooter/.vscode/
SimpleShooter/.vs/


SimpleShooter/Binaries/
SimpleShooter/Config/

SimpleShooter/Content/Collections/
SimpleShooter/Content/Developers/
SimpleShooter/Content/AssetPacks/

SimpleShooter/DerivedDataCache/
SimpleShooter/Intermediate/
SimpleShooter/Saved/
SimpleShooter/Script/

ShooterAssetPack/

